<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="/css/gallery.css">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="main">



                            <div class="gallery">
                                <%for(let i = 0; i<100; i++){%>
                                            <div class="box">
                                                <div class="clip" id='right'></div>
                                                <div class="clip" id='left'></div>
                                                <div class="clip" id='up'></div>
                                                <div class="clip" id='down'></div>
                                                <span id='rightClip' class="clipper"></span>
                                                <span id='leftClip' class="clipper"></span>
                                                <span id='upClip' class="clipper"></span>
                                                <span id='downClip' class="clipper"></span>
                                            </div>
                                <%}%>


                            </div>
        </div>

</div>
    </body>
</html>
