<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/imageUpload.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body id='bod'>
        <h1>Upload Image</h1>
        <div class="main">
            <div class="mainEffect">
                <div class="container">
                    <div class="holder">
                        <div class="picture">
                            <img id="img" src="" alt="">
                        </div>
    	                <form class='form1' action="/uploadphoto" method="POST" enctype="multipart/form-data">
                            <input hidden type="text" id="nameVal" value="<%=currentUser.UserName%>" name="UserName" required></input>
                            <label for="desc">Image Description</label> <br>
                                <textarea id="desc" name="desc" value="" rows="4" placeholder="Description" required></textarea>
                            <div>
                                <label for="myImage">Upload Image</label>
                                <input  type="file" id="postImg" name="myImage" value="" onchange="updateValue()" required></input>
                            </div>
                            <div>
                                <button class="input butt" id=subPost type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>




        <script>
        function updateValue() {
                let oFReader = new FileReader();
                oFReader.readAsDataURL(document.getElementById("postImg").files[0]);

                oFReader.onload = function (oFREvent) {
                    document.getElementById("img").src = oFREvent.target.result;
                };
            };


$("#imgInp").change(function(){
    readURL(this);
});
        </script>
    </body>
</html>
