<!DOCTYPE html>
<html lang="en" dir="ltr">
<meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/login.css">
    <head>
        <title>Login</title>

    </head>

    <body>
        <div class="main">
            <div class="mainEffect">


                <h1>LOGIN</h1>

                <div class="container">
                    <div class="holder">
                        <div class="formIcon">

                        </div>
                        <div class="formHolder">
                            <form name="form1" onsubmit= "return login(this);">
                                <p> <b>UserName:</b></br><input class='input' type="TEXT"  name="UserName" required></p>
                                <p> <b>Password:</b></br><input class='input' type="TEXT"  name="password" required></p>

                                <p><input class='butt' TYPE="submit" VALUE="LOGIN" ></p>
                            </form>

                                <button class='butt' id='newUserButt' type="button" name="button"onclick="window.location.href='/newUser';">New User</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <script>
            function login(form) {
             form.action= `/profile/${document.form1.UserName.value}/${document.form1.UserName.value}`
            }
            if(`<%=message%>` == 'error'){
  window.alert("Please enter a valid UserName and Password");
}

        </script>
    </body>
</html>
