<!DOCTYPE html>
<html lang="en" dir="ltr">
<meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/login.css">
    <head>
        <title>Login</title>

    </head>

    <body>
        <div class="main">
            <div class="mainEffect">


                <h1>Login</h1>

                <div class="container">
                    <div class="holder">
                        <div class="formIcon">

                        </div>
                        <div class="formHolder">
                            <form name="form1">
                                <p> <input class='input' TYPE="TEXT"  NAME="UserName"><br/><b>UserName:</b></p>
                                <p> <input class='input' TYPE="TEXT"  NAME="firstName"><br/><b>First Name:</b></p>
                                <p> <input class='input' TYPE="TEXT"  NAME="lastName"><br/><b>Last Name: </b></p>
                                <p><input class='butt' TYPE="BUTTON" VALUE="LOGIN" onClick="login();"></p>
                            </form>

                                <button class='butt' id='newUserButt' type="button" name="button"onclick="window.location.href='/newUser';">New User</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <script>
            function login() {
              window.location.href=`/profile/${document.form1.UserName.value}/${document.form1.UserName.value}`
            }
        </script>
    </body>
</html>
