<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/imageUpload.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body id='bod'>
        <h1>New Upload Image </h1>
        <div class="main">
            <div class="mainEffect">
                <div class="container">
                    <div class="holder">
                        <div class="picture">
                            <div id='img' class="imgIn" style= "background-image:url()"></div>
                            <img  class="imageMiddle" src="" alt="">
                            <div  src="" alt=""></div>
                        </div>
    	                <form class='form1' action="/uploadPhoto/<%=currentUser.UserName%>" method="POST" >
                            <input hidden type="text" id="nameVal" value="<%=currentUser.UserName%>" name="UserName" required></input>

                            <label for="desc">Image Description</label> <br>
                                <textarea id="desc" name="desc" value="" rows="4" placeholder="Description" required></textarea>
                            <div>
                                <label for="myImage">Upload Image</label>
                                <input class="input" id="postImg" type="text" name="src" value=""/>
                            </div>
                            <div>
                                <button class="input butt" id=subPost type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script>
        const input = document.querySelector('#postImg');
        const log = document.getElementById('img');

        input.addEventListener('change', updateValue);

        function updateValue(e) {

           log.style.backgroundImage = `url("${e.target.value}")`;
       }
        </script>
    </body>
</html>
