<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="/css/newUser.css">
        <meta charset="utf-8">
        <title>New User</title>
    </head>
    <body>
        <div class="main">
            <div class="mainEffect">

                <h1>New User</h1>

                <div class="container">
                    <div class="holder">

                        <div class="formHolder">
                            <form class="form" action="/newUser" method="POST">

                                <div class="pair">
                                    <div class="fields" > UserName:<br/><input type="text"  name="UserName" required/> </div>
                                    <div class="fields" > Password:<br/><input type="text"   name="Password" required/></div>
                                </div>
                                <div class="pair">
                                    <div class="fields" > First Name:<br/><input type="text"  name="firstName" required/> </div>

                                    <div class="fields" > Last Name:<br/> <input type="text" name="lastName" required/> </div>
                                </div>
                                <div class="pair">
                                    <div class="fields email" >Email:<br/><input type="text" name="email" required/></div>
                                </div>
                                <div class="pair">

                                    <div class="fields" > City:<br/><input type="text"  name="city" required/> </div>
                                    <div class="fields" > State: <br/><input type="text"  name="state" required/>  </div>
                                </div>
                                <div class="fields motto" >
                                    Motto: <br/><textarea rows="6" cols="60" type="text" placeholder="Tell Us about yourself" name="motto"></textarea>
                                </div>
                                    Profile Picture:<br/>
                                    *Please use a url, ex: 'https://i.imgur.com/Q8vh9AO.jpg'<br/>
                                    <input class="imageField" type="text" value="https://i.imgur.com/lFTxgj0.png" name="profilePicture"><br/>
                                    Cover Photo:<br/>
                                    *Please use a url, ex: 'https://i.imgur.com/Q8vh9AO.jpg'<br/>
                                    <input class="imageField" type="text" value="https://i.imgur.com/5NKkE5h.jpg" name="coverPhoto"><br/>


                                <input class='butt' id=subEdit type="submit" value="Create User">
                                <button class='butt' type="button" name="button"onclick="window.location.href='/';">Back to Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
