<!DOCTYPE html>
<html>

  <head>
      <meta name="viewport" content="width=device-width,initial-scale=1">
          <link rel="stylesheet" href="/css/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Image uploaded</title>
    <!-- <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" /> -->
  </head>

  <body>
      <div class="main" style= 'background-image:url("<%= link %>")'>

      </div>

		<section class="hero is-fullheight">
			<div class="hero-body is-centered">
				<div class="container">
					<div class="columns is-centered is-vcentered">

						<div class="column is-6">
                            <p class="title is-size-1">Image successfully uploaded!</p>

                            
                        </div>

					</div>
				</div>
			</div>
	</section>

  </body>

</html>
