*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;

}
*::-webkit-scrollbar{
width: auto;
}
*::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
    background:grey;
}
*::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background:rgb(0, 91, 91);

}
*::-webkit-scrollbar-thumb:hover{
    background:rgb(0, 213, 181);
}
a{
    margin: 0 10px;
}
body{
    background-color: rgb(40, 40, 40);
    text-align: center;
}
header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    background-color:rgb(65, 65, 65);
    box-shadow: 10px 10px 10px rgba(0,0,0,1);
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 50px;
    margin: 15px auto;
    text-shadow:-5px 0 5px #0ff, 5px 0 5px #0ff;
}
.cpIcons{
    width: 60px;
    height: 60px;
    margin: 0 20px;
}

.main{
    width: 90%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    margin: auto;
    padding: 20px
}
.photo{
    display: flex;
    width: 200px;
    height: 200px;
}
.img{
    width: 200px;
    height: 200px;
}
.gallery{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    width: 100%;
    border-top-left-radius: 60px  30px;
    border-top-right-radius: 60px  30px;
    border-bottom-left-radius: 60px  30px;
    border-bottom-right-radius: 60px  30px;
    border-top: 3px solid rgb(0, 213, 181);
    border-bottom: 3px solid rgb(0, 213, 181);
    justify-content: center;
    background-color: rgb(69, 69, 69);
    overflow: auto;
    padding: 25px;
    margin-top: 10px;
}
.upperImg{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.galleryPic{
    width: 190px;
    height: 190px;
    margin: auto;
    border-radius: 10px;
}

.box{
    position: relative;
    height: 200px;
    width:200px;
    background: transparent;
    background-size: 200px 200px;
    border: 5px solid rgb(15, 15, 15) ;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.8), -3px 0 10px rgba(0,0,0,0.8);
    color: red;
    cursor: pointer;
    font-weight: bold;
    outline: transparent;
    /* padding: 8px 16px; */
    margin: 5px;
    border-radius: 10px;
}
.clip {
    height: 100%;
    width: 100%;
    padding: 8px 16px;
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
    border-radius: 10px;
}
#up{
    background: orange;
    /* opacity:1; */
    clip-path: polygon(0 0, 100% 0, 50% 50%, 50% 50%);
}
#right{
    background: yellow;
    /* opacity:1; */
    clip-path: polygon(100% 0, 100% 100%, 50% 50%);
}
#down{
    background: blue;
    /* opacity:1; */
    clip-path: polygon(0 100%, 100% 100%, 50% 50%);
}
#left{
    background: red;
    /* opacity: 1; */
    clip-path: polygon(0 0, 0 100%, 50% 50%);
}

.clipper {
    height: 100%;
    width:100%;
    box-shadow: 6px 6px 0 #888;
    color: white;
    cursor: pointer;
    outline: transparent;
    padding: 8px 16px;
    transition: box-shadow 0.15s ease;
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
    transition: clip-path 0.3s ease-in-out;
    /* border-radius: 5px; */
    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(3px);
}
#rightClip{
    /* background: blue;
     border: 5px solid blue; */
    clip-path: inset(0 0 0 100%);

}
#downClip{
    /* background: red; */
    /* border: 5px solid red; */
    clip-path: inset(100% 0 0 0);

}
#upClip{
    /* background: yellow; */
    /* border: 5px solid yellow; */
    clip-path: inset(0 0 100% 0);

}
#leftClip{
    /* background: green; */
    /* border: 5px solid green; */
    clip-path: inset(0 100% 0 0);
}
#right:hover ~ #rightClip,
#left:hover ~ #leftClip,
#up:hover ~ #upClip,
#down:hover ~ #downClip {
    opacity: 1;
    clip-path: inset(0 0 0 0);
}
#right:hover,
#left:hover,
#up:hover,
#down:hover{
    /* opacity: 1; */
    z-index: 2;
    clip-path: inset(0 0 0 0);

}




/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}




@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  .box{
    height: 250px;
    width:100%;
  }
  .galleryPic{
      min-width: 100%;
      height: 100%;
      margin: auto;
      border-radius: 10px;
  }


}
