*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    background-color: rgb(40, 40, 40);
}
header{
    width: 100%;
    height: 50px;
    background-color:rgb(65, 65, 65);
    box-shadow: 10px 10px 10px rgba(0,0,0,1);
}

.main{
    text-align: center;
    max-width: 80%;
    padding: 10px;
    min-width: 420px;
    height: 100%;
    margin: 20px auto;
    background-color:rgb(18, 18, 18);
    background-image: url('/photos/bike1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: greyscale(100%);
    box-shadow: -10px 10px 5px rgba(0, 0, 0,.9),10px 10px 5px rgba(0, 0, 0,.9);
}
.mainEffect{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(255,255,255,.3);
    background-color:rgba(0, 0, 0,.9);
    box-shadow: -10px 10px 10px rgba(0, 0, 0,.5)inset,10px -10px 10px rgba(0, 0, 0,.5)inset;
}
h1{
    font-size: 50px;
    margin: 15px auto;
    text-shadow:-5px 0 5px #0ff, 5px 0 5px #0ff;
}
.container{
    width: 90%;
    height:90%;
    background-color: rgba(0,0,0,.2);
    margin: 10px auto;

}
.holder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background-color: white; */
    margin:auto;
    backdrop-filter: blur(3px);
}
.formHolder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    /* background-color: rgba(20, 20, 20,.3); */
    margin: auto;
    color: rgb(187, 187, 187);
}
.form{

    margin: 0 auto;
}
p{
    color: rgba(255,255,255,.5);
}
input {
  margin: 15px 20px;
  font-size: 16px;
  padding: 10px;
  width: 20vw;
  border: none;
  border-bottom: 1px solid rgba(10, 180, 180, 1);
  background: rgba(10, 10, 10, .5);
  color: rgba(255,255,255,.5);
  outline: none;
}
.pair{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.fields{
    display: flex;
    flex-direction: column;
}
.imageField{
    width: 40vw;
}
.formIcon{
    width: 40%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    background-image: url('/photos/cp.png');
    background-size: 275px 325px;
    background-repeat: no-repeat;
    background-position: center;
}
.butt{
    border: 1px solid rgba(10, 180, 180, 1);
    background: rgba(20, 20, 20, .6);
    font-size: 18px;
    color: white;
    margin:10px 40px;
    padding: 10px 50px;
    cursor: pointer;
    transition: .4s;
}
.butt:hover{
    transform: scale(1.2);
    box-shadow:
    inset 0 0 10px white,
    inset 5px 0 5px #0ff,
    inset -5px 0 5px #0ff,
    inset 5px 0 5px #0ff,
    inset -5px 0 5px #0ff,
    0 0 10px white,
    -5px 0 5px #0ff,
    5px 0 5px #0ff;
}
footer{
    width: 100%;
    height: 50px;
    background-color:rgb(65, 65, 65);
    box-shadow: 10px 10px 10px rgba(0,0,0,1);

}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
}


.modal-content {
  margin: 0 auto;
  display: block;
  width: 80%;
  max-width: 700px;
  height: 500px;
  justify-content:  center;
  align-items: center;

}
.modalButton{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 80%;
    justify-content:  center;
    align-items: center;
    margin: auto;
    font-size: 20px;
    color: red;
}

.modal-content{
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}


.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}




@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  .main{
      height:100%;
  }
  .container{
      padding: 20px;
      height: 100%;
  }
  .formHolder{
      width: 420px;
  }
  .fields , input{
      width: 80%;
  }
  .motto{
      margin: auto;
  }
.pair {
      flex-direction: column;
  }
  .formIcon{
     display: none;
  }
}
